{% extends 'base.html' %}
{% load static %}

{% block content %}





    <!-- SERVICE-1
    ================================================== -->
    <section class="page-banner-area page-about">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold"> O'zbek tilidagi matnlarning mazmunini tahlil qilish tizimi</h1>
                        <p style="font-size: large;">
                            Ma'lumotlarning asosiy manbai bo'lgan matnli ma'lumotlarni semantik 
                            jihatdan tahlil qilish <a style="color: rgb(206, 223, 250); font-style: bold;" href="https://bigenc.ru/linguistics/text/2192314">matematik lingvistika</a>, 
                            <a style="color: rgb(206, 223, 250); font-style: bold;" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%BB%D0%B8%D0%BD%D0%B3%D0%B2%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0#:~:text=computational%20linguistics)%20%E2%80%94%20%D0%BD%D0%B0%D1%83%D1%87%D0%BD%D0%BE%D0%B5%20%D0%BD%D0%B0%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2,%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D0%B5%D0%B9%20%D0%B4%D0%BB%D1%8F%20%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D1%85%20%D1%8F%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2.">kompyuter lingvistikasi</a> va 
                            <a style="color: rgb(206, 223, 250); font-style: bold;" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5">mashinali o'rganish</a> 
                            usullari orqali amalga oshirilgan.
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                           
                        </h2>

                        <!-- Subheading -->
                        
                        <h3>Matnlarni semantik tahlil  qilish orqali quyidagi amaliy masalalarni hal qilish mumkin.</h3>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        
                        <div class="single-blog">
                            <div class="blog-content">
                                
                                <a href="#">
                                    <h3 class="card-title">Material uchun taqrizchini avtomatik aniqlash</h3>
                                </a>
                                <p>Olimlarning qilgan ishlarini o'rgangan holda joriy ishga eng yaqin sohada ishlovchi eng maqbul izlanuvchini taqrizchi 
                                    sifatida tavsiya qiluvchi tizim sifatida foydalanish mumkin. Buning uchun har bir olimning ilmiy ishlaridan iborat shaxsiy profili yaratiladi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" >
                    
                    <div class="blog-box" >                        
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title">Katta hajmdagi ma'lumotlarni avtomatik sinflarga ajratish</h3>
                                </a>

                                <p>Katta hajmdagi ma'lumotlarni semantik jihatdan yaqin bo'lganlarini aniqlash va guruhlash mumkin. 
                                    Shu orqali ma'lumotlarning izlash uchun qulay va tartibli holda saqlanishiga erishish imkoniyati yaratiladi.</p>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>

    
<section class="section" id="process">
       
    </section>



    



    {% endblock %}