{% extends 'base.html' %}
{% load static %}

{% block content %}





    <!-- SERVICE-1
    ================================================== -->
  
    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                           
                        </h2>

                        <!-- Subheading -->
                        
                        <h3>Matnlarni semantik tahlil  qilish orqali quyidagi amaliy masalalarni hal qilish mumkin.</h3>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        
                        <div class="single-blog">
                            <div class="blog-content">
                                
                                

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" >
                    
                    <div class="blog-box" >                        
                        <div class="single-blog">
                            <div class="blog-content">
                                
                                
                                <form action="/action_page.php" method="get" id="form1">
                                    <label for="fname">First name:</label>
                                    <input type="text" id="fname" name="fname"><br><br>
                                    <label for="lname">Last name:</label>
                                    <input type="text" id="lname" name="lname">
                                    </form>
                                    
                                    <button type="submit" form="form1" value="Submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>

    
<section class="section" id="process">
       
    </section>



    



    {% endblock %}