{% extends 'base.html' %}
{% load static %}

{% block content %}





    <!-- SERVICE-1
    ================================================== -->
   

    <section class="pt-5 service-wrap" >
        
        <div style="
        margin: auto;
            width: 25%;
            
            padding: 10px;">
            <ul><h3>Bazalar ro'xati</h3></ul>
            <ul>
               <li>OAK avtoreferatlar</li>
               <li>uzbekcorpus.uz</li>
               <li>Unicon.uz</li>
               <li>Lex.uz</li>
           </ul>
        </div>
    </section>
<section class="section" id="process">
       
    </section>



    



    {% endblock %}